* {
  margin:0;
  box-sizing: border-box;
}

body {

}

header {
  background-color: rgb(121, 13, 13);
  overflow: auto;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  text-align: left;
  text-decoration: underline;
  color:black;
  font-family: 'Satisfy', cursive, bold;
}

.header_left h1 {
  font-size: 40px;
  background: rgb(121,13,13);
  box-shadow: -5px -2px 5px black;
}

.header_right {
  display:flex;
  flex-direction: column;
  text-align: right;
  line-height: 1em;
  font-size: 1rem;
  color:black;
}

main {
  clear:both;
  background-color: black;
  overflow: auto;
}

.cell {
  height:40vh;
  width:50%;
  border: 5px solid white;
  display:inline-block;
}

.cell:hover {
  border-color:red;
}

.topleft {
  border-top:none;
  border-left:none;
  float:left;
}

h2 {
  display: block;
}

.topright {
  border-top:none;
  border-right:none;
  float:right;
}

.bottomleft {
  border-bottom:none;
  border-left:none;
  float:left;

}

.bottomright {
  border-bottom:none;
  border-right:none;
  float:right;

}

.circle {
  border: 10px solid white;
  background-color: black;
  border-radius:50%;
  display:inline-block;
  position:absolute;
  left:50%;
  top:50%;
  height:200px;
  width:200px;
  display: flex;
  align-items: center;
  transform:translate(-50%,-40%);
  vertical-align: middle;
}

.circle img {
  width:50%;
  display:block;
  margin:auto;
}

.circle:hover {
  border-color:red;
}

nav {
  overflow:auto;
  display:flex;
  justify-content: space-between;
}

.navbar {
  list-style-type: none;
  padding-left:0px;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  padding-right: 0px;
}

.navbar li a {
  color:white;
  text-decoration: none;
}

hr {
  text-decoration: none;
}

footer {
  background-color: rgb(121, 13, 13);
  overflow: auto;
  padding:20px;
  color:black;
}

.footer_left {
  width:30%;
  float:left;
  text-align:left;
}

.footer_right {
  width:60%;
  float:right;
  text-align: right;
}

/* Typography */

.footer_left {
  font-family: "Arial", "Helvetica", sans-serif;
}

.cell {
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:2em;

}

.intro-section {
  color: white;
  width:90%;
  margin:30px auto;
  text-align:center;
  padding:20px;
  border:2px solid white;
}

.services_section h3 {
  text-align: center;

}

.gallery_section {
  display: grid;
  grid-template-columns: auto auto auto;
  width:90%;
  margin:30px auto;
  padding:20px;
  border:2px solid white;
}

.gallery_img_wrapper img {
  width:100%;
}
