#skyrim_logo {
  width:45%;
  padding-left: 20px;
}

.legend_dragonborn {
  padding-left: 20px;
  margin:auto;
}

.caption {
  color:grey;
}

.body_text {
  padding-left:20px ;
}

.one_third {
  display:inline;
  width:30%;
  text-align:center;
}
.div_img {
  height:70%;
}

.full_width {
  width:65%;
}

.flex_row {
  display:flex;
  align-items: baseline;
  justify-content: space-between;
}

.flex_row_bottom {
  display:flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.bottom_row {
  text-align:center
}

.gallery_area {
  margin:20px;
}
