body {
  height:1500px;
  position: relative;
}

nav {
  background-color: green;
}

li {
  display: inline;
  padding:15px;
}

a {
  text-decoration: none;
}

#nav1 {
  background-color: red;
  position: fixed;
  width:100%;
}

#nav2 {
  background-color: yellow;
  position: relative;
  top: 150px;
}

#nav3 {
  background-color: pink;
  position: absolute;
  bottom:150px;
}
